.home-cont {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;

    h1 {
        margin-bottom: 3rem;
    }
}

@media (max-width: 768px) {
    .home-cont {

        h1 {
            font-size: 2.5rem;
        }
    }
}