.home-cont {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;

    .home-text {
        margin-bottom: 3rem;
        font-size: 3.5rem;
    }
}

@media (max-width: 640px) {
    .home-cont {

        .home-text {
            font-size: 2.7rem;
        }
    }
}