.home-cont {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}


@media (max-width: 768px) {
    .home-cont {
        margin-top: 10rem;
    }
}