.solarsystem-container {
    position: relative;
    display: flex;
    box-sizing: border-box;
    height: 640px;
    width: 640px;

    .planet-child {
        border-radius: 50%;
        position: absolute;
        box-shadow: -4px 2px 15px #99b9b6;
        transform: translate(-50%, -50%);
    }

    .sun {
        width: 120px;
        height: 120px;
        background-color: rgb(239, 231, 176);
        left: 50%;
        top: 50%;
    }

    .mercury-outline,
    .venus-outline,
    .earth-outline,
    .mars-outline,
    .jupiter-outline,
    .saturn-outline,
    .uranus-outline,
    .neptune-outline {
        border-radius: 50%;
        border: 1px dotted rgba(252, 252, 252, 0.6);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mercury-outline {
        height: 140px;
        width: 140px;
    }

    .mercury {
        height: 20px;
        width: 20px;
        background-color: #db9898;
        left: 43%;
        top: 42%;
        animation: orbit1 5s linear infinite;
    }

    .venus-outline {
        width: 200px;
        height: 200px;
    }

    .venus {
        width: 40px;
        height: 40px;
        background-color: #7badb9;
        left: 40%;
        top: 42%;
        animation: orbit2 10s linear infinite;
    }

    .mars-outline {
        width: 370px;
        height: 370px;
    }

    .mars {
        width: 30px;
        height: 30px;
        background-color: #da4b49;
        left: 46.5%;
        top: 46.5%;
        animation: orbit5 30s linear infinite;
    }

    .jupiter-outline {
        width: 430px;
        height: 430px;
    }

    .jupiter {
        width: 40px;
        height: 40px;
        background-color: #935fac;
        left: 45%;
        top: 45%;
        animation: orbit6 60s linear infinite;
    }

    .saturn-outline {
        width: 500px;
        height: 500px;
    }

    .saturn {
        width: 50px;
        height: 50px;
        background-color: #bb7334;
        left: 45%;
        top: 45%;
        animation: orbit7 90s linear infinite;
    }

    .uranus-outline {
        width: 560px;
        height: 560px;
    }

    .uranus {
        width: 30px;
        height: 30px;
        background-color: #385ac8;
        left: 48%;
        top: 48%;
        animation: orbit8 200s linear infinite;
    }

    .neptune-outline {
        width: 615px;
        height: 615px;
    }

    .neptune {
        width: 20px;
        height: 20px;
        background-color: #6e799b;
        left: 48%;
        top: 48%;
        animation: orbit9 50s linear infinite;
    }

    .earth-outline {
        height: 300px;
        width: 300px;
    }

    .earth-inner {
        height: 10px;
        width: 10px;
        background-color: rgb(213, 205, 205);
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 45%;
        top: 45%;
        animation: orbit4 3s linear infinite;
    }

    .earth {
        height: 50px;
        width: 50px;
        background: #66b178;
        border-radius: 50%;
        position: absolute;
        left: 44%;
        top: 43%;
        box-shadow: -4px 2px 15px #99b9b6;
        transform: translate(-50%, -50%);
        animation: orbit3 20s linear infinite;

        .earth-circle {
            height: 65px;
            width: 65px;
            border: 1px dotted #fff;
            position: relative;
            left: -8px;
            top: -8px;
            border-radius: 40px;
        }
    }

}

.hide-on-small-screen:hover .planet-child {
    animation-play-state: paused;
}

@media(max-width: 640px) {
    .hide-on-small-screen {
        display: none;
    }
}

.show-on-small-screen {
    display: none;
}

@media(max-width: 640px) {
    .solarsystem-container {
        width: 360px;
        height: 260vh;
        justify-content: center;

        .show-on-small-screen {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .planet-child {
                animation: none;
                position: static;
                transform: scale(2.2);
                box-shadow: -4px 2px 10px #7c7c7c;
            }

            .sun {
                transform: scale(1.5)
            }

            .planet-text {
                font-size: 2rem;
                margin-bottom: 3rem;
                margin-top: 1rem;
            }
        }
    }
}