.info-container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    background-color: rgb(43, 43, 110);
    color: rgb(251, 251, 251);
    font-size: 2rem;
    border-radius: 20px;
    margin: 2rem;
    max-width: 1200px;
    height: 550px;
}

.left-part {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 2rem;
    max-height: 70vh;
}

.info-header {
    position: relative;
    top: -20px;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info-text {
    font-size: 1.1rem;
    line-height: 1.12rem;
    font-family: Bricolage Grotesque, sans-serif;
    margin: 0.5rem;
    padding-left: 1rem;
}

.bigger-info-text {
    position: relative;
    left: 2rem;
    font-size: 1.3rem;
    line-height: 1.32rem;
    font-family: Bricolage Grotesque, sans-serif;
    margin: 0.5rem;
}

.right-part {
    border-radius: 0px 20px 20px 0px;
    display: flex;
    place-items: center;
    height: 100%;
}

.planet-image {
    object-fit: cover;
    max-height: 550px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 0px 20px 20px 0;
}


@media (max-width: 800px) {
    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 450px;
    }

    .left-part {
        height: 100%;
        padding: 2rem;
    }

    .info-header {
        text-align: left;
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .info-text {
        font-size: 0.9rem;
    }

    .bigger-info-text {
        font-size: 1.1rem;
        left: 10%;
    }

    .right-part {
        height: 100%;
        width: 100%;
    }

    .planet-image {
        object-fit: cover;
        background-repeat: no-repeat;
        border-radius: 0 0 20px 20px;
    }
}



@media (max-width: 500px) {
    .info-container {
        margin: 0.5rem;
        max-width: 340px;
    }

    .left-part {
        padding: 0.5rem;
    }
}