.planet-input-container {
    width: 540px;
    height: 540px;
    border-radius: 50%;
    background-color: rgb(34, 56, 224);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .planet-input-container {
        width: 470px;
        height: 470px;
    }
}

@media (max-width: 415px) {
    .planet-input-container {
        width: 360px;
        height: 360px;
    }
}