:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  //height and width need to stay 100vw/vw
  height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  width: 100vw;
}

body {
  padding: 0;
  position: absolute;
  box-sizing: border-box;
  // border-radius: 10px;
  font-family: Handjet;
  font-size: 1.3rem;
  overflow-x: hidden;
  background-color: rgb(7, 5, 38);
  padding-bottom: 50px;
}

#root {
  box-sizing: border-box;
  //root div takes the whole height of the body 
  height: 100%;
  width: 100%;
  padding: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}