:root {
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  min-height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Handjet;
  font-size: 1.3em;
  overflow-x: hidden;
  background-color: rgb(12, 7, 68);
  background-image: url("https://i.ibb.co/GCkhpYT/Stars-background.png");
    padding-bottom: 50px;
}

#root {
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  padding: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
